<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header"><a href="/" class="navbar-brand"><%= __('Readme') %></a></div>
          <% getLocales().forEach(locale=>{ %>
          <a href="/change-locale/<%=locale%>"><%=locale%></a>&nbsp; <%}) %>

          <!--         <div class="navbar-header"><a href="/login" class="navbar-brand">Login</a></div>
          <div class="navbar-header"><a href="/logout" class="navbar-brand">Logout</a></div> 
          <div class="navbar-header">
            <a href="/apiv1/anuncios" class="navbar-brand">API anuncios</a>
          </div>-->
        </div>
      </div>
    </nav>
  </body>
</html>
